// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Zynq ZYBO Development Board";
	compatible = "digilent,zynq-zybo", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		spi0 = &qspi;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		#phy-cells = <0>;
		compatible = "usb-nop-xceiv";
		reset-gpios = <&gpio0 46 1>;
	};
};

&amba {
	axi_dma_0: axidma@0x40400000 {
		compatible = "xlnx,axi-dma-1.00.a";
		#dma-cells = <1>;
		reg = <0x40400000 0x1000>;
		xlnx,addrwidth = <32>;
		dma-ranges = <0x00000000 0x00000000 0x20000000>;
		clocks = <&clkc 15>;
		clock-names = "s_axi_lite_aclk";
		dma-channel@40400000 {
			compatible = "xlnx,axi-dma-s2mm-channel";
			interrupts = <0 29 4>;
			xlnx,datawidth = <64>;
		};	
	};
	rng_tester0: rng_test@0x43c00000 {
		compatible = "rng-test";
		reg = <0x43c00000 0x1000>;
		dmas = <&axi_dma_0 0>;
		dma-names = "axidma";
	};
};

&clkc {
	ps-clk-frequency = <50000000>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
